

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff; 
    color: #000000;
    padding-right: 300px;
  }
  
  .logo {
    width: 150px; 
    height: auto; 
  }
  
  .nav-links {
    display: flex;
    
  }
  
  .nav-link {
    margin-left: 20px;
    color: #000000; 
    text-decoration: none;
  }

 
  
  .nav-link:hover {
    text-decoration: underline; 
  }
  